.SlideDrawerTopmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  display: flex;
}

.addgrpmembershow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
